# Autonomous Database
DB_USER=ADMIN
DB_PASSWORD=tu_password_admin
DB_DSN=tu_dsn_high
WALLET_DIR=./wallet
WALLET_PASSWORD=tu_password_wallet

# OCI Generative AI (Chicago)
OCI_COMPARTMENT_ID=ocid1.tenancy.oc1..xxxxx
GENAI_ENDPOINT=https://inference.generativeai.us-chicago-1.oci.oraclecloud.com
